.app-container {
  background-color: #ffd569;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 100vh;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.heading {
  font-size: 40px;
  font-family: 'roboto';
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.sub-heading {
  color: #ffd569;
}

.images {
  height: 80px;
  width: 100px;
  margin: 10px;
}

.food-button {
  border: 1px solid #007bff;
  border-radius: 5px;
  color: #fff;
  height: 40px;
  width: 60px;
  font-size: 15px;
  font-family: 'roboto';
  padding: 10px;
  cursor: pointer;
  outline: none;
}
